[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "3.8.1"

[dev-packages]
mypy = "==0.930"
flake8 = "==3.9.2"
pep8-naming = "==0.12.1"

[requires]
python_version = "3.9"
